# Rust
Cargo.lock
target

# internal dev code
*.code-workspace
/.github/chatmodes
/.github/instructions
/.VSCodeCounter
tools
/.vscode
/dev

# Program specefik
/log

# Python
__pycache__/
*.pyc
.venv/
.env/