# Rust bins
target
target-windows
target-linux

# Build artifacts
build/installer
build/linux/flatpak/_build
build/linux/flatpak/_repo

# internal dev code
.dev
.claude
.VSCodeCounter

# Program specific
tests/settings/settings.ron