# Rust
/Cargo.lock
/target

# internal dev code
marco2.code-workspace
/.github/chatmodes
/.github/instructions
/.VSCodeCounter
/.vscode
/dev

# Program specefik
/log

# Python
__pycache__/
*.pyc
.venv/
.env/