(
  editor: Some((
    font: None,
    font_size: Some(12),
    line_height: None,
    line_wrapping: Some(true),
    auto_pairing: Some(true),
    show_invisibles: Some(false),
    tabs_to_spaces: Some(true),
    syntax_colors: Some(true),
    linting: Some(true),
  )),
  layout: Some((
    view_mode: Some("HTML Preview"),
    sync_scrolling: Some(true),
    editor_view_split: Some(60),
    show_line_numbers: Some(true),
    text_direction: Some("ltr"),
  )),
  window: Some((
    width: Some(1727),
    height: Some(1096),
    x: None,
    y: None,
    maximized: Some(false),
    split_ratio: Some(50),
  )),
  files: Some((
    recent_files: Some([
      /*[0]*/ "/home/ranrar/Code/projects/marco/polo/README.md",
      /*[1]*/ "/home/ranrar/Code/projects/marco/README.md",
      /*[2]*/ "/home/ranrar/Code/projects/marco/tests/markdown_showcase/README.md",
      /*[3]*/ "/home/ranrar/Code/projects/marco/polo/CODE_REVIEW.md",
      /*[4]*/ "/home/ranrar/Code/projects/marco/tests/markdown_showcase/test_syntax_highlighting.md",
    ]),
    max_recent_files: Some(5),
  )),
  active_schema: None,
  schema_disabled: None,
  polo: Some((
    window: Some((
      width: Some(975),
      height: Some(1033),
      x: None,
      y: None,
      maximized: Some(false),
    )),
    last_opened_file: Some("/home/ranrar/Code/projects/marco/polo/README.md"),
    auto_refresh: None,
    refresh_interval_ms: None,
  )),
  appearance: Some((
    editor_mode: Some("marco-dark"),
    preview_theme: Some("github.css"),
    ui_font: None,
    ui_font_size: Some(11),
  )),
  language: None,
  debug: Some(false),
  log_to_file: Some(false),
  engine: None,
)