display_hints {
    type: 'root',
    style: 'container',
    decoration: '',
    markdown_syntax: '',
    children: [
        item {
            type: 'heading',
            style: 'block',
            decoration: '######',
            markdown_syntax: '######',
            attr_depth: 1,
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'Heading 1',
                }
            ],
        }
        item {
            type: 'heading',
            style: 'block',
            decoration: '######',
            markdown_syntax: '######',
            attr_depth: 2,
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'Heading 2',
                }
            ],
        }
        item {
            type: 'paragraph',
            style: 'block',
            decoration: '',
            markdown_syntax: '',
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'This is a sample paragraph with ',
                }
                item {
                    type: 'strong',
                    style: 'inline',
                    decoration: '**',
                    markdown_syntax: '**',
                    children: [
                        item {
                            type: 'text',
                            style: 'inline',
                            decoration: '',
                            markdown_syntax: '',
                            attr_value: 'bold',
                        }
                    ],
                }
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: ' and ',
                }
                item {
                    type: 'emphasis',
                    style: 'inline',
                    decoration: '*',
                    markdown_syntax: '*',
                    children: [
                        item {
                            type: 'text',
                            style: 'inline',
                            decoration: '',
                            markdown_syntax: '',
                            attr_value: 'italic',
                        }
                    ],
                }
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: ' text.',
                }
            ],
        }
        item {
            type: 'blockquote',
            style: 'block',
            decoration: '>',
            markdown_syntax: '>',
            children: [
                item {
                    type: 'paragraph',
                    style: 'block',
                    decoration: '',
                    markdown_syntax: '',
                    children: [
                        item {
                            type: 'text',
                            style: 'inline',
                            decoration: '',
                            markdown_syntax: '',
                            attr_value: 'A blockquote.',
                        }
                    ],
                }
            ],
        }
        item {
            type: 'list',
            style: 'block',
            decoration: '- [ ] / - [x]',
            markdown_syntax: '- [ ] / - [x]',
            attr_ordered: False,
            children: [
                item {
                    type: 'listItem',
                    style: 'block',
                    decoration: '-',
                    markdown_syntax: '-',
                    children: [
                        item {
                            type: 'paragraph',
                            style: 'block',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'First item',
                                }
                            ],
                        }
                    ],
                }
                item {
                    type: 'listItem',
                    style: 'block',
                    decoration: '-',
                    markdown_syntax: '-',
                    children: [
                        item {
                            type: 'paragraph',
                            style: 'block',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'Second item',
                                }
                            ],
                        }
                    ],
                }
            ],
        }
        item {
            type: 'codeBlock',
            style: 'block',
            decoration: 're:^(?: {4}|\\\\t).+',
            markdown_syntax: 're:^(?: {4}|\\\\t).+',
            attr_language: 'rust',
            attr_value: 'fn main() {\\n    println!(\\"Hello World\\");\\n}',
        }
        item {
            type: 'thematicBreak',
            style: 'block',
            decoration: '---',
            markdown_syntax: '---',
        }
        item {
            type: 'link',
            style: 'inline',
            decoration: 're:<a\\s+[^>]*href=\\"[^\\"]+\\"[^>]*target=\\"[^\\"]+\\"[^>]*>',
            markdown_syntax: 're:<a\\s+[^>]*href=\\"[^\\"]+\\"[^>]*target=\\"[^\\"]+\\"[^>]*>',
            attr_url: 'https://example.com',
            attr_title: 'Example',
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'Example Link',
                }
            ],
        }
        item {
            type: 'image',
            style: 'inline',
            decoration: '![alt](url)',
            markdown_syntax: '![alt](url)',
            attr_url: 'https://example.com/image.png',
            attr_title: 'Example Image',
            attr_alt: 'Alt text',
        }
        item {
            type: 'inlineCode',
            style: 'inline',
            decoration: '`',
            markdown_syntax: '`',
            attr_value: 'let x = 5;',
        }
        item {
            type: 'hardbreak',
            style: 'unknown',
            decoration: 're:^<br\\\\s*/?>\\\\s*$',
            markdown_syntax: 're:^<br\\\\s*/?>\\\\s*$',
        }
        item {
            type: 'softbreak',
            style: 'unknown',
            decoration: '',
            markdown_syntax: '',
        }
        item {
            type: 'delete',
            style: 'inline',
            decoration: '~~',
            markdown_syntax: '~~',
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'struck',
                }
            ],
        }
        item {
            type: 'list',
            style: 'block',
            decoration: '- [ ] / - [x]',
            markdown_syntax: '- [ ] / - [x]',
            attr_ordered: False,
            children: [
                item {
                    type: 'listItem',
                    style: 'block',
                    decoration: '-',
                    markdown_syntax: '-',
                    attr_checked: False,
                    children: [
                        item {
                            type: 'paragraph',
                            style: 'block',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'Task incomplete',
                                }
                            ],
                        }
                    ],
                }
                item {
                    type: 'listItem',
                    style: 'block',
                    decoration: '-',
                    markdown_syntax: '-',
                    attr_checked: True,
                    children: [
                        item {
                            type: 'paragraph',
                            style: 'block',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'Task done',
                                }
                            ],
                        }
                    ],
                }
            ],
        }
        item {
            type: 'table',
            style: 'unknown',
            decoration: '| col |',
            markdown_syntax: '| col |',
            children: [
                item {
                    type: 'tableRow',
                    style: 'unknown',
                    decoration: '',
                    markdown_syntax: '',
                    children: [
                        item {
                            type: 'tableCell',
                            style: 'unknown',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'A',
                                }
                            ],
                        }
                        item {
                            type: 'tableCell',
                            style: 'unknown',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'B',
                                }
                            ],
                        }
                    ],
                }
                item {
                    type: 'tableRow',
                    style: 'unknown',
                    decoration: '',
                    markdown_syntax: '',
                    children: [
                        item {
                            type: 'tableCell',
                            style: 'unknown',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: '1',
                                }
                            ],
                        }
                        item {
                            type: 'tableCell',
                            style: 'unknown',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: '2',
                                }
                            ],
                        }
                    ],
                }
            ],
        }
        item {
            type: 'footnote',
            style: 'unknown',
            decoration: '[^1]',
            markdown_syntax: '[^1]',
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'See note',
                }
            ],
        }
        item {
            type: 'link',
            style: 'inline',
            decoration: 're:<a\\s+[^>]*href=\\"[^\\"]+\\"[^>]*target=\\"[^\\"]+\\"[^>]*>',
            markdown_syntax: 're:<a\\s+[^>]*href=\\"[^\\"]+\\"[^>]*target=\\"[^\\"]+\\"[^>]*>',
            attr_url: 'https://example.com',
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'https://example.com',
                }
            ],
        }
        item {
            type: 'htmlInline',
            style: 'unknown',
            decoration: '<font color=...>',
            markdown_syntax: '<font color=...>',
            attr_value: '<ins>underlined</ins>',
        }
        item {
            type: 'htmlInline',
            style: 'unknown',
            decoration: '<font color=...>',
            markdown_syntax: '<font color=...>',
            attr_value: '&nbsp;&nbsp;&nbsp;&nbsp;Indented',
        }
        item {
            type: 'htmlBlock',
            style: 'unknown',
            decoration: 're:<img\\s+[^>]*width=[\\"\']?\\d+[\\"\']?[^>]*>',
            markdown_syntax: 're:<img\\s+[^>]*width=[\\"\']?\\d+[\\"\']?[^>]*>',
            attr_value: '<center>Centered text</center>',
        }
        item {
            type: 'htmlInline',
            style: 'unknown',
            decoration: '<font color=...>',
            markdown_syntax: '<font color=...>',
            attr_value: '<font color=\\"red\\">Red text</font>',
        }
        item {
            type: 'comment',
            style: 'unknown',
            decoration: '[comment]: #',
            markdown_syntax: '[comment]: #',
            attr_value: '[This is a comment]: #',
        }
        item {
            type: 'definition',
            style: 'unknown',
            decoration: '',
            markdown_syntax: '',
            attr_identifier: 'ref-id',
            attr_url: 'https://example.com',
            attr_title: 'Optional title',
        }
        item {
            type: 'frontmatter',
            style: 'unknown',
            decoration: '',
            markdown_syntax: '',
            attr_value: '---\\ntitle: Example\\n---',
        }
        item {
            type: 'figure',
            style: 'unknown',
            decoration: 're:<figure[\\s\\S]*?<figcaption[\\s\\S]*?>[\\s\\S]*?</figcaption>',
            markdown_syntax: 're:<figure[\\s\\S]*?<figcaption[\\s\\S]*?>[\\s\\S]*?</figcaption>',
            children: [
                item {
                    type: 'image',
                    style: 'inline',
                    decoration: '![alt](url)',
                    markdown_syntax: '![alt](url)',
                    attr_url: '/assets/images/albuquerque.jpg',
                    attr_title: 'Albuquerque',
                    attr_alt: 'Albuquerque',
                }
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'A single track trail outside of Albuquerque, New Mexico.',
                }
            ],
        }
        item {
            type: 'heading',
            style: 'block',
            decoration: '######',
            markdown_syntax: '######',
            attr_depth: 1,
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'Setext Title',
                }
            ],
        }
        item {
            type: 'linkReference',
            style: 'unknown',
            decoration: '',
            markdown_syntax: '',
            attr_identifier: 'ref-id',
            children: [
                item {
                    type: 'text',
                    style: 'inline',
                    decoration: '',
                    markdown_syntax: '',
                    attr_value: 'Reference Link',
                }
            ],
        }
        item {
            type: 'definitionList',
            style: 'unknown',
            decoration: '',
            markdown_syntax: '',
            children: [
                item {
                    type: 'term',
                    style: 'unknown',
                    decoration: '',
                    markdown_syntax: '',
                    children: [
                        item {
                            type: 'text',
                            style: 'inline',
                            decoration: '',
                            markdown_syntax: '',
                            attr_value: 'Term',
                        }
                    ],
                }
                item {
                    type: 'description',
                    style: 'unknown',
                    decoration: '',
                    markdown_syntax: '',
                    children: [
                        item {
                            type: 'paragraph',
                            style: 'block',
                            decoration: '',
                            markdown_syntax: '',
                            children: [
                                item {
                                    type: 'text',
                                    style: 'inline',
                                    decoration: '',
                                    markdown_syntax: '',
                                    attr_value: 'Definition text.',
                                }
                            ],
                        }
                    ],
                }
            ],
        }
        item {
            type: 'toc',
            style: 'unknown',
            decoration: '#### Table of Contents',
            markdown_syntax: '#### Table of Contents',
            children: [
                item {
                    type: 'heading',
                    style: 'block',
                    decoration: '######',
                    markdown_syntax: '######',
                    attr_depth: 4,
                    children: [
                        item {
                            type: 'text',
                            style: 'inline',
                            decoration: '',
                            markdown_syntax: '',
                            attr_value: 'Table of Contents',
                        }
                    ],
                }
            ],
        }
        item {
            type: 'video',
            style: 'unknown',
            decoration: 're:\\[!\\[.*?\\]\\(https?://img\\.youtube\\.com/vi/[A-Za-z0-9_-]+/0\\.jpg\\)\\]\\(https?://(www\\.)?youtube\\.com/watch\\?v=[A-Za-z0-9_-]+.*?\\)',
            markdown_syntax: 're:\\[!\\[.*?\\]\\(https?://img\\.youtube\\.com/vi/[A-Za-z0-9_-]+/0\\.jpg\\)\\]\\(https?://(www\\.)?youtube\\.com/watch\\?v=[A-Za-z0-9_-]+.*?\\)',
            attr_value: '[![Image alt text](https://img.youtube.com/vi/YOUTUBE-ID/0.jpg)](https://www.youtube.com/watch?v=YOUTUBE-ID)',
        }
        item {
            type: 'mathInline',
            style: 'unknown',
            decoration: '$inline$',
            markdown_syntax: '$inline$',
            attr_value: 'x^2 + y^2',
        }
        item {
            type: 'mathBlock',
            style: 'unknown',
            decoration: '$$block$$',
            markdown_syntax: '$$block$$',
            attr_value: '\\\\int_0^1 x dx',
        }
        item {
            type: 'emoji',
            style: 'unknown',
            decoration: ':smile:',
            markdown_syntax: ':smile:',
            attr_value: ':smile:',
        }
    ],
}