(
    editor: None,
    appearance: Some((
        color_mode: None,
        app_theme: Some("astro-dark.css"),
        preview_theme: Some("academic.css"),
        ui_font: None,
        ui_font_size: None,
    )),
    layout: None,
    language: None,
    window: None,
    advanced: None,
)