(editor:None,appearance:Some((editor_mode:Some("dark"),preview_theme:Some("astro.css"),ui_font:None,ui_font_size:None)),layout:None,language:None,window:None,advanced:None,files:Some((recent_files:Some(["/home/ranrar/Code/projects/marco2/README.md","/home/ranrar/Code/projects/marco2/src/assets/documentation/display_hints.md","/home/ranrar/Code/projects/marco2/src/assets/documentation/Best Practices for AST Syntax in Markdown.md"]),max_recent_files:Some(5))),active_schema:Some("Marco"),schema_disabled:Some(false))